/* ROLL EFFECT */
.roll-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 1.2em;
}

.roll-effect .roll-inner {
  display: block;
  transition: transform 0.5s ease;
}

.roll-effect:hover .roll-inner {
  transform: translateY(-100%);
}

.roll-effect .roll-inner span {
  display: block;
  height: 1.2em;
  line-height: 1.2em;
}

.roll-effect .roll-inner span:last-child {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.roll-effect:hover .roll-inner,
*:hover > .roll-effect .roll-inner {
  transform: translateY(-100%);
}

.avatar {
  left: 0;
  top: 0;
  position: absolute;
  width: 20vh;
  height: 20vh;
  will-change: transform;
  z-index: -10;
  background-color: transparent;
}

/* UNDERLINE */
.underline-loop {
  position: relative;
  color: inherit;
  display: inline-block; 
}

.underline-loop::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 
  height: 2px;
  background-color: currentColor; 
  width: 100%; 
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.underline-loop:hover::after {
  animation: underlineLoop 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

@keyframes underlineLoop {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  50% {
    transform: scaleX(0);
    transform-origin: right;
  }
  50.01% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

/* INFINITE SPIN */
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

/* ROTATE */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}