:root {
  --green: #283618;
  --brown: #a1683a;
  --yellow: #ffde59;
  --vanilla: #fefae0;
  --black: #080807;
  --white: #fcfcfc;

  --h1-space: -0.45rem;
  --h2-space: -0.05em;
  --button-space: -0.03rem;

  --header-height: 10vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PP Neue Montreal", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: var(--header-height);
  padding: 10px 40px;
  box-sizing: border-box;
}

.leftHeader,
.rightHeader {
  flex: 1;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 5rem;
  font-weight: 600;
  font-style: normal;
  color: var(--black);
  letter-spacing: var(--h1-space);
}

.rightHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.UpNav ul {
  list-style: none;
  display: flex;
  gap: 0.4rem;
}

.UpNav li a {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: var(--h2-space);
  text-decoration: none;
  color: inherit;
  line-height: 1em;
  font-size: 0.9rem;
}

.get-in-touch-btn {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 100vw;
  width: fit-content;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: var(--button-space);
  font-size: 0.9rem;
}

.circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: 2px solid var(--white);
  background: transparent;
  transition: all 0.1s ease;
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  transition: all 0.1s ease;
}

.get-in-touch-btn:hover .circle::before {
  background: var(--yellow);
  width: 80%;
  height: 80%;
}

.get-in-touch-btn:hover .circle {
  border-color: transparent;
}

/* INTRODUCTION SECTION */
.introduction {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
  width: 80vw;
  height: 100vh;
  overflow: hidden;
}

.introFooter {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 1rem 3rem;
  box-sizing: border-box;
}

.introFooter .left,
.introFooter .right {
  flex: 1;
  display: flex;
  align-items: center;
}

.introFooter .right {
  justify-content: space-between;
}

.introFooter .left p,
.introFooter .right p {
  color: var(--black);
  font-weight: 800;
  letter-spacing: var(--h2-space);
  font-size: 1rem;
}
